name: golangci-lint
on:
  push:
    tags:
    - v*
    branches:
    - main
  pull_request:

jobs:
  golangci-sg:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      with:
        go-version: ">=1.21"
    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - name: golangci-lint
      uses: golangci/golangci-lint-action@3a919529898de77ec3da873e3063ca4b10e7f5cc # v3.7.0
      with:
        version: v1.55
        working-directory: sg
