name: "Unit Test"

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

jobs:
  go-test:
    strategy:
      matrix:
        go-version: [">=1.21"]
        os: [ubuntu-latest]
        module: [sg]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - name: Install Go
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      with:
        go-version: ${{ matrix.go-version }}
    - name: Test ${{ matrix.module }}
      env:
        MODULE: ${{ matrix.module }}
      run: |
        make -C $MODULE test
